@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

header {
    margin: 0% 3% 0% 3%;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 8vh;
}

main {
    height: 83vh;
    margin: 0% 3% 0% 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer {
    margin: 1% 3% 0% 8%;
    height: 7vh;
    font-size: 12px;
    color: rgb(255, 255, 255, 0.6);
}

#Information {
    flex: 1 1 25%;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
}

#Draw {
    flex: 3 1 70%;
    transition: all 0.3s ease;
    height: 82vh;
    border-radius: 3%;
    background-color: rgb(97, 97, 97, 0.7);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#box {
    overflow: auto;
    margin: 5% 10% 5% 10%;
    max-width: 34vh;
    max-height: 33vh;
}

#Table {
    table-layout: fixed;
    font-size: 14px;
    width: 90%;
    height: 90%;
    border-collapse: collapse;
    border-style: hidden;
}

#Table tr, td {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    position: relative;
}

#Table td:hover {
    background: red;
}

#Table td:hover:before {
    background-color: rgba(255, 255, 0, 0.5);
    content: '';
    height: 100%;
    left: -500px;
    position: absolute;
    top: 0;
    width: 500px;
    z-index: -1;
}

#Table td:hover:after {
    background-color: rgba(255, 255, 0, 0.5);
    content: '';
    height: 500px;
    left: 0;
    position: absolute;
    top: -500px;
    width: 100%;
    z-index: -1;
}

#Point {
    position: fixed;
    background-color: yellow;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 2;
}

#Line {
    background-color: yellow;
    transform-origin: top left;
    position: fixed;
    height: 2px;
    z-index: 1;
}

#TextLength {
    position: fixed;
    text-align: center;
    padding: 10px 5px 0px 5px;
    background-color: #303030;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 3;
    font-size: 16px;
}

.info_point:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.info {
    transition: all 0.3s ease;
    background-color: rgb(159, 159, 159, 0.5);
    height: 38vh;
    border-radius: 4%;
    padding-top: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.info_point {
    transition: all 0.3s ease;
    background-color: rgb(159, 159, 159, 0.5);
    height: 38vh;
    border-radius: 4%;
    margin-top: 3vh;
    padding-top: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.text {
    font-size: 20px;
    float: left;
}

.caption {
    position: fixed;
    z-index: 3;
}

.vl {
    margin-left: 5%;
    margin-right: 5%;
    width: 1px;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.5);
}

body {
    margin: 0px;
    background-color: #303030;
    user-select: none;
    color: white;
}

a {
    color: rgb(255, 255, 255, 0.6);
}

div, span, a, .caption, .footer {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
}

::-webkit-scrollbar {
    width: 0px;
}